<!DOCTYPE html>
<html lang="zxx">



<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male Fashion Moda Męska tomo24.pl">
    <meta name="keywords" content="Moda męska Male Fashion buty spodnie ubranie modne cool jeans bluza bluzy koszulka koszulki skarpety bielizna marynarka pasek old school vintage wystój wnetrz retro">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-FashionMale-Fashion | tomo24.pl</title>



    <!-- Css Styles -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
    <link rel="stylesheet" href="~/css/custom.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
@*    <div id="preloder">
        <div class="loader"></div>
    </div>*@

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
       @* <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="#">Sign in</a>
                <a href="#">FAQs</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>*@
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="~/img/icon/search.png" alt=""></a>
            <a href="#"><img src="~/img/icon/heart.png" alt=""></a>
            <a href="@Url.Action("Index", "Cart")"><img src="~/img/icon/cart.png" alt=""> <span class="qtyCart">0</span></a>
            <div class="price">$0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>
       @* <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>*@
    </div>
    <!-- Offcanvas Menu End -->
    <!-- Header Section Begin -->
    <header class="header">
@*        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Free shipping, 30-day return or refund guarantee.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <a href="#">Sign in</a>
                                <a href="#">FAQs</a>
                            </div>
                            <div class="header__top__hover">
                                <span>Usd <i class="arrow_carrot-down"></i></span>
                                <ul>
                                    <li>USD</li>
                                    <li>EUR</li>
                                    <li>USD</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="Home"><img src="~/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li id="lihome" class="active"><a asp-area="" asp-controller="Home" asp-action="index">Home</a></li>
                            <li id="lishop"><a asp-area="" asp-controller="Products" asp-action="browse">Sklep</a></li>
                            <li>
                                <a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Shop Details</a></li>
                                    <li><a href="@Url.Action("Index", "Cart")">Koszyk</a></li>
                                    @*<li><a href="#">Check Out</a></li>*@
                                    @*<li><a href="#">Blog Details</a></li>*@
                                </ul>
                            </li>
                            @*<li><a href="#">Blog</a></li>*@
                            <li><a href="#">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="~/img/icon/search.png" alt=""></a>
                        <a href="#"><img src="~/img/icon/heart.png" alt=""></a>
                        <a href="@Url.Action("Index", "Cart")"><img src="~/img/icon/cart.png" alt=""> <span class="qtyCart">0</span></a>
                        <div class="price">$0.00</div>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>

    @RenderBody()
     
                    <!-- Footer Section Begin -->
                    <footer class="footer">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="footer__about">
                                        <div class="footer__logo">
                                            <a href="#"><img src="~/img/footer-logo.png" alt=""></a>
                                        </div>
                                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                                        <a href="#"><img src="img/payment.png" alt=""></a>
                                    </div>
                                </div>
                                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                                    <div class="footer__widget">
                                        <h6>Shopping</h6>
                                        <ul>
                                            <li><a href="#">Clothing Store</a></li>
                                            <li><a href="#">Trending Shoes</a></li>
                                            <li><a href="#">Accessories</a></li>
                                            <li><a href="#">Sale</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-6">
                                    <div class="footer__widget">
                                        <h6>Shopping</h6>
                                        <ul>
                                            <li><a href="#">Contact Us</a></li>
                                            <li><a href="#">Payment Methods</a></li>
                                            <li><a href="#">Delivary</a></li>
                                            <li><a href="#">Return & Exchanges</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                                    <div class="footer__widget">
                                        <h6>NewLetter</h6>
                                        <div class="footer__newslatter">
                                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                                            <form action="#">
                                                <input type="text" placeholder="Your email">
                                                <button type="submit"><span class="icon_mail_alt"></span></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <div class="footer__copyright__text">
                                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                        <p>
                                            Copyright ©
                                            <script>
                                                document.write(new Date().getFullYear());
                                            </script>2023
                                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                                                                                                aria-hidden="true"></i> by <a href="#" target="_blank">ToMo</a>
                                        </p>
                                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>
                    <!-- Footer Section End -->
                    <!-- Search Begin -->
                    <div class="search-model">
                        <div class="h-100 d-flex align-items-center justify-content-center">
                            <div class="search-close-switch">+</div>
                            <form class="search-model-form">
                                <input type="text" id="search-input" placeholder="Search here.....">
                            </form>
                        </div>
                    </div>
                    <!-- Search End -->
    <!-- Footer Section End -->
    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->
    <!-- Js Plugins -->
    @*<script src="~/js/jquery-3.3.1.min.js"></script>*@
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery.nicescroll.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jquery.countdown.min.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>
    <script src="~/js/mixitup.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
          rel="stylesheet">

</body>


</html>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
@*    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>*@

@RenderSection("Scripts", required: false)
@{
    <script>
        $(document).ready(function () {
            ;
        });
        // Write your JavaScript code.
        function addCart(id) {

            $.ajax({
                type: "GET",
                url: '@Url.Action("BuyAsync", "Cart")',
                data: { id: id },
                methasync: true,
                success: function (html) {
                    //$("#more").after(html);
                    $(".price").html(html.price + " PLN");
                    $(".qtyCart").text(html.qty);
                    if (html.maxSizeQuantity > -1) {
                        $.confirm({
                            title: '',
                            content: 'Nie wystarczająca ilość produktu',
                            type: 'green',
                            typeAnimated: true,
                            buttons: {
                                tryAgain: {
                                    text: 'Maksymalna ilość sztuk w <br /> magazynie to ' + html.maxSizeQuantity,
                                    btnClass: 'btn-green',
                                    action: function () {
                                    }
                                },
                                close: function () {
                                }
                            }
                        });
                    }else{
                         $.confirm({
                            title: '',
                            content: 'Produkt dodano do koszyka',
                            type: 'green',
                            typeAnimated: true,
                            buttons: {
                                tryAgain: {
                                    text: 'Ok',
                                    btnClass: 'btn-green',
                                    action: function () {
                                    }
                                },
                                close: function () {
                                }
                            }
                        });
                    }

                }
            });
        }


        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("Quantity", "Cart")",
                //data: { id: id },
                //async: true,
                success: function (html) {
                    //$("#more").after(html);
                    $(".price").html(html.price + " PLN");
                    $(".qtyCart").text(html.qty);

                }
            });
        });

        var size = ""
        var hasSize = false;

        function addCartQty(id) {
            if ($(".product__details__option__size")[0] ){
                hasSize = true;        
            }
            $("label").each(function () {
                if ($(this).hasClass("active")) {
                   size = $(this).children().attr('id')
                }
            });
            
            if(size !== ""){
                buyQty(id)
            }
            else
            alert("Select size");
            }
                
        
        $( ".target" ).change(function() {
  
        });

        function delQtyCard(id, name, sizeId) {
            var qty = $('#'+name).val();
            if(qty == 1){
                qty =1;
            }else{
                qty = qty -1;
            }
            changeQtyCard(id, qty, sizeId);
        }

         function addQtyCard(id, name, sizeId) {
            var qty = $('#'+name).val();
            qty = parseInt(qty) +1;
            changeQtyCard(id,qty, sizeId);
        }

        function changeQtyCard(id, qty, sizeId){
            $.ajax({
                type: "GET",
                url: "@Url.Action("ChangeQtyCard", "Cart")",
                data: { 
                        'id': id, 
                        'qty': qty, 
                        'sizeId':sizeId
                },
                methasync: true,
                success: function (html) {
                    //$("#more").after(html);
                    $(".price").html(html.price + " PLN");
                    $(".qtyCart").text(html.qty);
                    if (html.maxSizeQuantity > -1) {
                        $.confirm({
                            title: '',
                            content: 'Nie wystarczająca ilość produktu',
                            type: 'green',
                            typeAnimated: true,
                            buttons: {
                                tryAgain: {
                                    text: 'Maksymalna ilość sztuk w <br /> magazynie to ' + html.maxSizeQuantity,
                                    btnClass: 'btn-green',
                                    action: function () {
                                    }
                                },
                                close: function () {
                                }
                            }
                        });
                    }

                }
            });
        }

        function buyQty(id) {
            var qty = $('#prodQty').val();
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("BuyQty", "Cart")",
                    data: { 'id': id, 'qty': qty, 'sizeId': size },
                    methasync: true,
                    success: function (html) {
                        
                        $(".price").html(html.price + " PLN");
                        $(".qtyCart").text(html.qty);
                        if (html.maxSizeQuantity>-1) {
                            $.confirm({
                                title: '',
                                content: 'Nie wystarczająca ilość produktu',
                                type: 'green',
                                typeAnimated: true,
                                buttons: {
                                    tryAgain: {
                                    text: 'Maksymalna ilość sztuk w <br /> magazynie to ' + html.maxSizeQuantity,
                                        btnClass: 'btn-green',
                                        action: function () {
                                        }
                                    },
                                    close: function () {
                                    }
                                }
                            });
                        }
                    }
                });
        }

    </script>
}

@section Scripts {


    

    

    }
