@model CartViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer LocString

@{
    ViewData["Title"] = "Browse";
}
<h2>Koszyk</h2>

<div class="row">
    @foreach (var cartItem in Model.CartItems)
    {


        var imageName = cartItem?.Product.Files.FirstOrDefault().Name ?? "";


        <div class="col-lg-3 col-sm-6">
            <div class="thumbnail">
                <img class="img-responsive" src="../images/min_@(imageName)" alt="Chania">
                <div class="caption">
                    <h4>@cartItem.ProductName</h4>
                    <p>@cartItem.Quantity</p>
                    <p>@(String.Format("{0:0.##}", cartItem.TotalPrice)) @LocString["Currency"]</p>
                    <p>
                        <a asp-controller="Products" asp-action="Details" asp-route-id="@cartItem.ProductId"
                           class="btn btn-primary" role="button">@LocString["Details"]</a>

                        <a asp-controller="Cart" asp-action="Delete" asp-route-id="@cartItem.Id"
                           class="btn btn-danger" role="button">Usuń</a>
                    </p>

                </div>
            </div>
        </div>
    }
</div>


