
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Koszyk</h4>
                    <div class="breadcrumb__links">
                        <a href="@Url.Action("index", "Home")">Home</a>
                        <a href="@Url.Action("browse", "Products")">Sklep</a>
                        <span>Koszyk</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="shopping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int count = 0;}
                            @if (ViewBag.cart != null)
                            {
                                @foreach (var item in ViewBag.cart)
                                {
                                    <tr>
                                        <td class="product__cart__item">
                                            <div class="product__cart__item__pic">
                                                <img src="../images/min_@item.Img" alt="" width="100px" @*height="100px"*@>
                                            </div>
                                            <div class="product__cart__item__text">
                                                <h6>@item.ProductName </h6>
                                                @if(item.Size != null)
                                                {
                                                    <h6> Size - @item.Size</h6>
                                                }
                                                <h5>@item.UnitPrice </h5>
                                            </div>
                                        </td>
                                        <td class="quantity__item">
                                            <div class="quantity">

                                                <div class="pro-qty-2">
                                                    <span class="fa fa-angle-left dec qtybtn" onClick="delQtyCard('@item.ProductId', 'prodQty@(count)' )")></span>   
                                                    <input id="prodQty@(count)" type="text" value="@item.Quantity">
                                                    <span class="fa fa-angle-right inc qtybtn" onClick="addQtyCard('@item.ProductId', 'prodQty@(count)' )"></span>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="cart__price"> @(item.UnitPrice * item.Quantity) </td>
                                        <td class="cart__close"><a asp-controller="Cart" asp-action="Remove" asp-route-id="@item.ProductId" class="fa fa-close"></a></td>
                                    </tr>
                                    count++;
                                    
                                

                            }

                            }
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn">
                            <a href="@Url.Action("browse", "Products")">Kontynułuj zakupy</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn update__btn">
                            <a href="@Url.Action("index", "Cart")"><i class="fa fa-spinner"></i> Odśwież koszyk</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cart__discount">
                    <h6>Discount codes</h6>
                    <form action="#">
                        <input type="text" placeholder="Coupon code">
                        <button type="submit">Apply</button>
                    </form>
                </div>
                <div class="cart__total">
                    <h6>Cart total</h6>
                    <ul>
                        <li>Suma<span class="price">$ 169.50</span></li>
                        <li>Total <span class="price">$ 169.50</span></li>
                        <li>Wysyłka <span>+ 15 zł</span></li>
                    </ul>
                    @if (count != 0)
                    {
                        <a href="@Url.Action("index", "Checkout")" class="primary-btn">Złóż zamówienie</a>
                        
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shopping Cart Section End -->


                                @*<a asp-controller="Cart" asp-action="Remove" asp-route-id="@item.ProductId" class="btn btn-sm btn">Remove</a>*@

         
                

               
@*<a asp-controller="Products" asp-action="Browse" class="btn btn-sm btn-info" >Continue Shoping</a>
<a asp-controller="Checkout" asp-action="Index" class="btn btn-sm btn-outline-success">Checkout</a>*@
<script>

</script>