@model ProductNewViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer LocString

<h1>@LocString["Products"]</h1>

<div class="row">
    @foreach (var product in Model.Products)
    {


        var imageName = product?.Files?.FirstOrDefault()?.Name??"";


        <div class="col-lg-3 col-sm-6">
            <div class="thumbnail">
                <img class="img-responsive" src="../images/min_@(imageName)" alt="Chania">
                <div class="caption">
                    <h4>@product.Name</h4>
                    <p>@product.Category</p>
                    <p>@(String.Format("{0:0.##}", product.Price)) @LocString["Currency"]</p>
                    <p>
                        <a asp-action="Details" asp-route-id="@product.Id"
                           class="btn btn-primary" role="button">@LocString["Details"]</a>
                   @if (product.UserId == product.ProductUserId)
                   {
                        <a asp-action="Edit" asp-route-id="@product.Id"
                           class="btn btn-primary" role="button">Edit</a>
                   }
                    </p>
                </div>
            </div>
        </div>
    }
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

</div>
<a asp-route-pageIndex="@(Model.PageIndex - 1)"class="btn btn-default @prevDisabled">
    Previous
</a>

@for (int page = 1; page <= Model.TotalPages; page++)
{
    @if (page == Model.PageIndex)
    {

<a asp-route-pageIndex="@(page)"> &nbsp; <u> @(page) </u> &nbsp; </a>
    }
    else
    {
        <a asp-route-pageIndex="@(page)"> @(page) </a>
    }

}

<a asp-route-pageIndex="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>