@model CreateProductViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer LocString
@{
    //var filesPath = Environment.GetEnvironmentVariable("FILES_DIR");

}
<h1>@LocString["CreateProduct"]</h1>
<div class="row">
    <div class="col-lg-1 col-sm-6">
        <form id="formUpload" method="post" asp-action="Upload" asp-route-action_name="create" asp-route-productId="00000000-0000-0000-0000-000000000000" asp-controller="Products" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" name="files" id="file" class="btn btn-info" onchange="upload()" multiple />
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div id="imagesDiv">
    </div>
    @foreach (var file in @Model.Files)
    {

        var imageName = file.Name;

        <div class="col-lg-3 col-sm-6">
            <div class="thumbnail">
                <img class="img-responsive" src="../images/min_@(imageName)" alt="Chania">
                <div class="caption">
                    <p>
                        <a href="@Url.Action(imageName,"DeleteImage")" class="btn btn-primary" role="button">Delete</a>

                    </p>
                </div>
            </div>
        </div>
    }
</div>

<div class="row">
    <div class="col-lg-4 col-sm-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="All"></div>
            <div class="form-group">
                <label asp-for="Name">@LocString["Name"]:</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description">@LocString["Description"]:</label>
                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Price">@LocString["Price"]:</label>
                <input type="number" asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category">@LocString["Category"]:</label>
                <select asp-for="Category" asp-items="Model.Categories" class="form-control"></select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="@LocString["Create"]" />
            </div>
        </form>
    </div>
</div>
@section Scripts
{
    <script>
        //loadImages();
     //   $(document).ready(function () {

        function loadImages(files) {
            $.each(files, function (key, fileName) {
                var hostname = location.protocol + '//' + location.hostname + (location.port ? ':' + location.port : '');
                var img = $("<img />").attr('src', hostname + '/images/min_' + fileName)

                    .on('load', function () {
                        if (!this.complete || typeof this.naturalWidth == "undefined" || this.naturalWidth == 0) {
                            alert('broken image!');
                        } else {
                            img.addClass("img-responsive");
                            var imagesDiv = $('<div />'); imagesDiv.addClass("col-lg-3 col-sm-6");
                            var thumbnail = $('<div />'); thumbnail.addClass("thumbnail");
                            $("#imagesDiv").append(imagesDiv);
                            imagesDiv.append(thumbnail);
                            thumbnail.append(img)
                            var caption = $('<div class="caption" />');
                            var button = $('<a class="btn btn-primary" role="button" />').text("Delete");
                            button.attr("href", hostname + "/DeleteImage/" + fileName);
                            thumbnail.append(caption);
                            caption.append(button);


                            //$("#imagesDiv").append(img);
                        }
                    });
            });
        }


        function upload() {

            var fd = new FormData();

            var totalfiles = document.getElementById('file').files.length;
            for (var index = 0; index < totalfiles; index++) {
                fd.append("files", document.getElementById('file').files[index]);
            }

            $.ajax({
                url: 'Upload/create/00000000-0000-0000-0000-000000000000',
                type: 'post',
                data: fd,
                contentType: false,
                processData: false,
                success: function (response) {
                    debugger;
                    loadImages(response.files);
                    if (response != 0) {
                        $("#img").attr("src", response);
                        $(".preview img").show(); // Display image element
                    } else {
                        alert('file not uploaded');
                    }
                },
            });
        }
       
//});

</script>
}