@model ProductViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer LocString

<br />
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">

                    @{int num = 0; }
                    @foreach (var file in Model.Files)
                    {
                        <li data-target="#myCarousel" data-slide-to="@num"></li>
                        num++;
                    }
                </ol>


                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">

                    @{var classActive = "active"; }

                    @foreach (var file in Model.Files)
                    {
                        <div class="item @classActive">
                            <img src="../../images/min_@file.Name" alt="Image">
                            <div class="carousel-caption">
                                @*<h3>Sell $</h3>
                                    <p>Money Money.</p>*@
                            </div>
                        </div>
                        classActive = "";
                    }
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="well">
                <p><h3>@LocString["Name"]</h3> <br /> <h1> @Model.Name </h1> </p>
            </div>
            <div class="well">
                <p><h3>@LocString["Description"]</h3> <br /> @Model.Description</p>
            </div>
            <div class="well">
                <p><h3>@LocString["Price"]</h3>@(String.Format("{0:0.##}", Model.Price)) @LocString["Currency"] </p>
            </div>
        </div>
    </div>
    <hr>
</div>
<div>
    @Html.ActionLink("Back to List", "browse")
</div>