@model EditProductViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer LocString
@{
    ViewBag.Title = "Edit";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit </h2>


<div class="row">
    <div class="col-lg-1 col-sm-6">
        <form method="post" asp-action="Upload" asp-route-action_name="edit" asp-route-productId="@Model.Id" asp-controller="Products" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" name="files" id="file" class="btn btn-info" role="button" onchange="upload()" multiple />
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div id="imagesDiv">
    </div>
    @foreach (var image in Model.Files)
    {

        var imageName = image.Name;


        <div class="col-lg-3 col-sm-6">
            <div class="thumbnail">
                <img class="img-responsive" src="../../images/min_@(imageName)" width="180px">
                <div class="caption">
                    <p>
                        <a asp-action="Delete" asp-route-productId="@Model.Id" asp-route-imageId="@image.Id" class="btn btn-danger" role="button">Delete</a>

                    </p>
                </div>
            </div>
        </div>

    }


</div>

 <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Color</th>
                  <th scope="col">Size</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Action</th>
      
                </tr>
              </thead>
              <tbody>
                @foreach (var variant in Model.Variants)
                {
                 <tr>
                  <th scope="row"></th>
                  <td>@variant.Remarks </td>
                 <td><select asp-for="@variant.ColorId" asp-items="Model.Colors" class="form-control" ></select> </td>
                 <td><select asp-for="@variant.SizeId" asp-items="Model.Sizes" class="form-control" > </select> </td>
                 <td>@variant.Quantity </td>
                 <td><a asp-controller="Products" asp-action="DeleteVariant" asp-route-id="@variant.Id" class="btn btn-primary" role="button">Delete</a></td>
                </tr>
                }
   
              </tbody>
            </table>


<form asp-action="Edit" method="post">
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Product Edit</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input asp-for="Id" type="hidden">
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input asp-for="Name" class="form-control" />
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <textarea asp-for="Description" class="form-control" rows="5"></textarea>
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Price" class="control-label col-md-2">@LocString["Price"]: </label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

    </div>
        <div class="form-group">
            <label asp-for="Quantity" class="control-label col-md-2">Quantity </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
        </div>


    <div class="form-group">
        <label asp-for="Category" class="control-label col-md-2">@LocString["Category"]:</label>
        <div class="col-md-10">
            <select asp-for="Category" asp-items="Model.Categories" class="form-control"></select>
            <span asp-validation-for="Category" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Cities" class="control-label col-md-2">City:</label>
        <div class="col-md-10">
            @*@Html.LabelFor(model => model.Cities, "CityID", new { @class = "control-label col-md-2" })*@
            @Html.DropDownListFor(m => m.SelectedCity, Model.Cities, "Wybierz", new { @class = "form-control" })
            <span asp-validation-for="Cities" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success btn-lg pull-right" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*<a asp-action="DeleteProduct" asp-route-productId="@Model.Id" class="btn btn-danger pull-right" role="button">Delete Product </a>*@
                <button type="button" class="btn btn-danger pull-left" data-toggle="modal" data-target="#deleteProduct">Delete</button>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="deleteProduct" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@LocString["Delete_header"]</h4>
                </div>
                <div class="modal-body">
                    <p>@LocString["Delete_body"]</p>
                </div>
                <div class="modal-footer">
                    <a asp-action="DeleteProduct" asp-route-productId="@Model.Id" class="btn btn-danger pull-right" role="button">Delete</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                </div>
            </div>

        </div>
    </div>

</form>

<div>
    <br />
    @Html.ActionLink("Back to List", "EditProduct","Admin")
</div>

@section Scripts
{
    <script>

        function loadImages(files) {
            $.each(files, function (key, fileName) {
                var hostname = location.protocol + '//' + location.hostname + (location.port ? ':' + location.port : '');
                var img = $("<img />").width("180px").attr('src', hostname + '/images/min_' + fileName)

                    .on('load', function () {
                        if (!this.complete || typeof this.naturalWidth == "undefined" || this.naturalWidth == 0) {
                            alert('broken image!');
                        } else {
                            img.addClass("img-responsive");
                            var imagesDiv = $('<div />'); imagesDiv.addClass("col-lg-3 col-sm-6");
                            var thumbnail = $('<div />'); thumbnail.addClass("thumbnail");
                            $("#imagesDiv").after(imagesDiv);
                            imagesDiv.append(thumbnail);
                            thumbnail.append(img)
                            var caption = $('<div class="caption" />');
                            var button = $('<a class="btn btn-danger" role="button" />').text("Delete");
                            button.attr("href", hostname + "/DeleteByName/" + fileName + "/@Model.Id" );
                            thumbnail.append(caption);
                            caption.append(button);
                            //caption.append('<input class="form-check-input" type="radio" name="flexRadioDefault" id="' + fileName + '" />');
                            //caption.append('<label class="form-check-label" for="flexRadioDefault1">Default</label>');


                            //$("#imagesDiv").append(img);
                        }
                    });
            });
        }


        function upload() {
            var fd = new FormData();

            var totalfiles = document.getElementById('file').files.length;
            for (var index = 0; index < totalfiles; index++) {
                fd.append("files", document.getElementById('file').files[index]);
            }

            $.ajax({
                url: '../Upload/edit/@Model.Id',
                type: 'post',
                data: fd,
                contentType: false,
                processData: false,
                success: function (response) {
                    loadImages(response.files);
                    if (response != 0) {
                        //$("#img").attr("src", response);
                        //$(".preview img").show(); // Display image element
                    } else {
                        alert('file not uploaded');
                    }
                },
            });
        }

    </script>
}